$primary-color: #151c38;
$secondary-color: #43bbfe;
$accent-color: #201f3b;
$font: 'Nunito Sans', sans-serif;
$font-primary-color: #fefffe;
$font-secondary-color: #8982b2;
$font-accent-color: #7040b1;
$dark-color: #1a1d20;
$translucent-background: rgba(0, 0, 0, 0.3);
